h1.maintitle
{
    color: black;
}
p.text
{
    background: #daf1f5b7; /* Цвет фона под заголовком */
    color: rgb(0, 0, 0); /* Цвет текста */
    padding: 6px;  /*Поля вокруг текста */
    border-radius: 10px;
    
}
h3.history
{
    color: black;
    font-size: 20px;
}
h3.facts
{
    color: black;
    font-size: 20px;
}
ul.spisok
{
    background: #daf1f5b7; /* Цвет фона под заголовком */
    color: rgb(0, 0, 0); /* Цвет текста */
    height: 176px;  /*Высота блока */
    width: 1000px;  /*Ширина блока */
    border-radius: 10px;
}
h3.top
{
    color: black;
    font-size: 20px;
}
ol.numeric
{
    background: #daf1f5b7; /* Цвет фона под заголовком */
    color: rgb(0, 0, 0); /* Цвет текста */
    height: 93px;  /*Высота блока */
    width: 280px;  /*Ширина блока */
    border-radius: 10px;
}
img.firstphoto
{
    height: 250px;  /*Высота блока */
    width: 250px;  /*Ширина блока */
}
